.gradient-text {
  background-color: #262626;
  background-image: linear-gradient(to bottom, #262626, #ffffff);
  background-size: 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
